{%  extends "regulares.html" %}
{% block body %}
  <h1 id="limits">Preguntas frecuentes</h1>

  <h2>
    ¿Puedo utilizar ShareX para cargar un archivo?
  </h2>
  <p>Si! Aquí está el config: <a href="https://paste.thebitstick.xyz/owosevujod">soy una url</a></p>
  <p>Importar como un cargador de encargo y ya está listo para ir!</p>

  <h2>
    ¿Puedo subir archivos a través de mi teléfono?
  </h2>
  <p>Si, puedes. Incluso puede que desee añadir {{ page.title }} a la <a href="{{ url_for('static', filename="AddToHomescreen.png") }}">pantalla de inicio del teléfono</a></p>

  <h2>
    Que dirige este sitio web?
  </h2>
  <p>Un tipo llamado BitStick (<a href="https://www.thebitstick.xyz">Sitio web</a>)</p>

  <h2>
    Lo que se utiliza para alimentar este sitio web?
  </h2>
  <p>El servidor es un Raspberry Pi, representada por un proxy inverso Cloudflare</p>
  <p>El sitio es alimentado por Python / Flask.</p>

{% endblock %}
