{% extends "regularde.html" %}
{% block body %}
    <h1 id="limits">Nutzungsbedingungen</h1>
    <ul>
      <li><strong>Du</strong> bist für die Datei verantwortlich, die Du hochlädst</li>
      <li>Die maximale Dateigröße ist <strong>40 MB</strong></li>
      <li>Dateien können gelöscht werden, wenn vom Inhaber verlangt</li>
      <li>Wenn ich unerlaubte Inahlte(eg. CP, viren und so weiter) finde, werden diese sofort gelöscht</li>
      <li>Nur bestimme Dateitypen sind erlaubt</li>
      </ul>
      <h2 id="allowed-filetypes">Erlaubte Dateitypen</h2>
      <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      </ul>
      <p>Weitere können hinzukommen. WEnn es einen bestimmten Dateitypen geben sollte, bei dem Du glaubst ich sollte ihn hinzufügen, sag es mir.</p>
      <h2 id="contact">Kontakt</h2>
      <p>Du kannst mich per mail kontaktieren: thebitstick[at]mail[dot]thebitstick.xyz</p>
      <p>Für weniger formale Anfragen kannst du mich auf <a href="http://twitter.com/thebitstick">twitter</a> erwähnen</p>
      <h2 id="source-code">Source code</h2>
      <p><a href="https://github.com/thebitstick/Upflask">Link zur persönlichen Github</a></p>
      <br>
{% endblock %}
