{%  extends "regular.html" %}
{% block body %}
<h1 id="limits">Regulamin</h1>
<ul>
  <li><strong>Ty</strong> ponosisz odpowiedzialność za umieszczane pliki</li>
  <li>Maksymalny rozmiar pliku to <strong>40 MB</strong></li>
  <li>Pliki mogą zostać usunięte na żądanie faktycznego właściciela</li>
  <li>Jeżeli znajdę nielegalne treści (np. pornografia dziecięca, wirusy itd.), zostaną one natychmiast usunięte</li>
  <li>Tylko określone typy plików są dozwolone</li>
</ul>
<h2 id="allowed-filetypes">Dozwolone typy plików</h2>
     <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      </ul>
<p>Inne typy mogą zostać dodane, jeżeli uważasz, że czegoś brakuje, daj mi znać.</p>
<h2 id="contact">Kontakt</h2>
<p>Można się ze mną skontaktować poprzez email: thebitstick[at]mail[dot]thebitstick.xyz</p>
<p>W mniej formalnych sprawach napisz do mnie na twitterze: <a href="http://twitter.com/thebitstick">twitter</a></p>
<h2 id="source-code">Kod źródłowy</h2>
<p><a href="https://git.thebitstick.xyz/thebitstick/Upflask">Link do własnego serwera Gogs</a></p>
<br>
{% endblock %}
