{%  extends "regulares.html" %}
{% block body %}
    <h1 id="limits">Condiciones</h1>
    <ul>
      <li><strong>Usted</strong> es responsable del fichero que ha subido</li>
      <li>El tamaño máximo del archivo es de <strong>40 MB</strong></li>
      <li>Los archivos pueden ser borrados si así lo solicita el propietario del contenido</li>
      <li>Si encuentro contenidos ilegales (tales como virus informáticos o CP), se eliminará inmediatamente</li>
      <li>Sólo ciertos tipos de archivos se les permite</li>
      </ul>
      <h2 id="allowed-filetypes">Los tipos de archivo permitidos</h2>
      <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      </ul>
      <p>Más tipos de archivos se pueden añadir, y si hay uno específico que desea, póngase en contacto conmigo</p>
      <h2 id="contact">Contacto</h2>
      <p>Puede ponerse en contacto conmigo en mi correo electrónico: thebitstick[at]mail[dot]thebitstick.xyz</p>
      <p>Para las solicitudes menos formales, puede ponerse en contacto conmigo en mi <a href="https://twitter.com/thebitstick">twitter</a></p>
      <h2 id="source-code">Código fuente</h2>
      <p><a href="https://github.com/thebitstick/Upflask">Aquí está la url a mi Github</a></p>
      <br>
{% endblock %}
