{%  extends "regularsv.html" %}
{% block body %}
    <h1 id="limits">Användarvillkor</h1>
    <ul>
      <li><strong>Du</strong> har ansvaret för filen du laddar upp</li>
      <li>Största stoleken på filen du kan ladda upp är <strong>40 MB</strong></li>
      <li>Filer kan bli borttagna om det frågas från ägaren av filen</li>
      <li>Om jag hittar illegalt innehåll (Barnporr, virus osv.) kommer det bli borttaget på direkten</li>
      <li>Bara vissa fil format är tillåtna</li>
      </ul>
      <h2 id="allowed-filetypes">Tillåtna filformat</h2>
      <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      </ul>
      <p>Mer kan komma. Om det är ett specifict filformat du vill ska läggas till, berätta för mig.</p>
      <h2 id="contact">Kontakt</h2>
      <p>Du kan kontakta mig via mail thebitstick[at]mail[dot]thebitstick.xyz</p>
      <p>För mindre frågor kontakta mig på <a href="http://twitter.com/thebitstick">twitter</a></p>
      <h2 id="source-code">Source code</h2>
      <p><a href="https://github.com/Upflask/Upflask">Länk till personlig Github</a></p>
      <br>
{% endblock %}
