{% extends "shell.html" %}
{% block body %}
  <h1 class="title">
    Upflask
  </h1>
  <form action="file" id="form" name="fileForm" method="post" enctype="multipart/form-data" class="uploadForm">
    <div id="uploadButton" class="uploadButton">
      <p id="uploadText">
        ファイルを選択
      </p>
      <input id="file" type="file" name="file">
    </div>
    <input type="hidden" name="source" value="web">
  </form>
  <ul class="links">
    <li>
      <a href="/termsjp">利用規約</a>
    </li>
    <li>
      <a href="/faqjp">ある質問</a>
    </li>
  </ul>
  <script>
  document.getElementById("file").onchange = function() {
    document.getElementById("uploadText").innerHTML = "アップロード...";
    var button = document.getElementById("uploadButton");
    button.className = button.className + " uploading";
    document.getElementById("form").submit();
  };
  </script>
{% endblock %}
