{%  extends "regularjp.html" %}
{% block body %}
  <h1 id="limits">ある質問</h1>

  <h2>
    ShareXを使用することはできますか？
  </h2>
  <p>はい、ここで設定です: <a href="https://paste.thebitstick.xyz/owosevujod">私はリンクしています</a></p>
  <p>「カスタムアップローダー」としてインポートで終わりだ！</p>

  <h2>
    電話はこれを使用することができますか？
  </h2>
  <p>確かに、あなたはあなたの<a href="{{ url_for('static', filename="AddToHomescreen.png") }}">携帯電話のホーム画面に追加したい場合があります</a>.</p>

  <h2>
    誰がこのサイトを運営？
  </h2>
  <p>こいつ(<a href="https://www.thebitstick.xyz">ツイッター</a>)</p>

  <h2>
    このサイトは何を使用していますか？
  </h2>
  <p>サーバがCloudFlareのによって保護されているラズベリーパイ</p>
  <p>このウェブサイトはPythonとFlaskによって供給されています</p>

{% endblock %}
