{% extends "regularnl.html" %}
{% block body %}
  <h1 id="limits">Vaakgestelde vragen</h1>

  <h2>
    Kan ik ShareX gebruiken om te uploaden?
  </h2>
  <p>Natuurlijk! Hier is de configuratie: <a href="https://paste.thebitstick.xyz/owosevujod">ik ben een link</a></p>
  <p>Importeer dat als een aangepaste uploader en schiet weg</p>

  <h2>
    Kan ik uploaden met mijn telefoon?
  </h2>
  <p>Tuurlijk, ga je gang. Je zou misschien zelfs <a href="{{ url_for('static', filename="AddToHomescreen.png") }}">{{ page.title }} toe kunnen voegen aan je thuisscherm</a>.</p>

  <h2>
    Wie draait dit ding?
  </h2>
  <p>Iemand genaamd BitStick (<a href="https://www.thebitstick.xyz">Website</a>)</p>

  <h2>
    Waar draait deze site op?
  </h2>
  <p>De server is een Raspberry Pi en deze zit achter CloudFlare.</p>
  <p>De site zelf wordt aangedreven door Python/Flask.</p>

{% endblock %}
