{%  extends "regularsr.html" %}
{% block body %}
  <h1 id="limits">Често постављена питања</h1>

  <h2>
    Могу ли користити ShareX а аплауд датотеке?
  </h2>
  <p>Наравно! Ево ти конфигурациона датотека: <a href="https://paste.thebitstick.xyz/owosevujod">ја сам линк</a></p>
  <p>Подеси то као "Custom uploader" и уживај</p>

  <h2>
    Могу ли аплаудовати коришћењем телефона?
  </h2>
  <p>Наравно, само напред! Можда ћеш такође желети <a href="{{ url_for('static', filename="AddToHomescreen.png") }}">да додаш {{ page.title }} на свој почетни екран.</a>.</p>

  <h2>
    Ко води ови чудо
  </h2>
  <p>Момак зван BitStick (<a href="https://www.thebitstick.xyz">вебстрана</a>)</p>

  <h2>
    Шта покреће ову вебстану?
  </h2>
  <p>Сервер је Распбери пај, скривен иза CloudFlare-а.</p>
  <p>Страница је у потпуности покренута помоћу Пајтона/Фласка</p>

{% endblock %}
