{%  extends "regular.html" %}
{% block body %}
    <h1 id="limits">Ehdot/h1>
    <ul>
      <li><strong>Sinä</strong> olet vastuussa tiedostoista mitkä sinä lähetät lähetät</li>
      <li>Maximi tiedoston koko on <strong>40 MB</strong></li>
      <li>Tiedostot saatetaan poistaa jos sisällön omistaja pyytää</li>
      <li>Jos löydän jotain laitonta sisältöä (eg. CP, viirukset ja sen kaltaiset) se poistetaan heti</li>
      <li>Vain tietyt tiedostotyypit ovat sallittuja</li>
      </ul>
      <h2 id="allowed-filetypes">Sallitut tiedostotyypit</h2>
      <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      <li>mkv</li>
      <li>psd</li>
      <li>flac</li>
      </ul>
      <p>Lisää saatetan lisätä. Jos sinun mielestä jokin tiedostotyyppi pitäisi lisätä, kerro minulle.</p>
      <h2 id="contact">Ota yhteyttä</h2>
      <p>Voit ottaa yhteyttä minun sähköpostiin thebitstick[at]mail[dot]thebitstick.xyz</p>
      <p>Muodollisimpaan pyyntöihin voit mainita minut <a href="http://twitter.com/thebitstick">twitterissä</a></p>
      <h2 id="source-code">Lähdekoodi</h2>
      <p><a href="https://github.com/Upflask/Upflask">Githubissa</a></p>
      <br>
{% endblock %}
