{%  extends "regularsr.html" %}
{% block body %}
    <h1 id="limits">Услови</h1>
    <ul>
      <li><strong>Ти</strong> си одговоран за датотеку коју аплаудујеш </li>
      <li>Максимална величина датотеке је <strong>40 MB</strong></li>
      <li>Датотеке могу бити уклоњене уколико власник ауторских права затражи</li>
      <li>Уколико пронађем илигеални материјал (нпр. дечија порнографија, вируси и сл) биће момементално обирисан</li>
      <li>Дозвољени су само одређени типови датотека</li>
      </ul>
      <h2 id="allowed-filetypes">Дозвољени типови</h2>
      <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      <li>mkv</li>
      <li>psd</li>
      <li>flac</li>
      </ul>
      <p>Можда ће више бити додано. Уколико верујеш да одређени тип датотеке треба бити додат, реци ми.</p>
      <h2 id="contact"> Контанкт</h2>
      <p> Можеш ме контактирати на мејл: thebitstick[ет]mail[тачка]http://thebitstick.xyz</p>
      <p> За неформалне захтеве, можеш ме контактирати на <a href="http://twitter.com/thebitstick">твитеру</a></p>
      <h2 id="source-code">Source code</h2>
      <p><a href="https://github.com/Upflask/Upflask">On Github</a></p>
      <br>
{% endblock %}
