{% extends "regularar.html" %}
{% block body %}
    <h1 id="limits">شروط الرفع</h1>
    <ul>
      <li>المسؤول عن الملفات التي تقوم برفعها<strong>أنت</strong></li>
      <li>أقصى حجم يُمكنك رفعه هو 40 ميجابايت للملف الواحد</li>
      <li>يُمكن حذف الملف المرفوع إذ قام صاحبه الأصلي بطلب ذلك</li>
      <li>إذا عثرت على مواد غير قانونية (محتوى جنسي للأطفال، وفايروسات، وغيرهما) فسأقوم بحذفها مباشراً</li>
      <li>يُسمح فقط برفع عدد محدود من صيغ الملفات</li>
      </ul>
      <h2 id="allowed-filetypes">الصيغ المسموح برفعها</h2>
      <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      <li>mkv</li>
      <li>psd</li>
      <li>flac</li>
      </ul>
      <p>يُمكن إضافة المزيد في المستقبل. إذ كُنت ترى بأنني يجب أن اسمح بصيغة أخرى، رجاءاً راسلني.</p>
      <h2 id="contact">التواصل</h2>
      <p>يمكنك التواصل معي عن طريق البريد الإلكتروني التالي إذا كان الأمر رسمياً thebitstick[at]mail[dot]thebitstick.xyz</p>
      <p>أو عن طريق التويتر <a href="http://twitter.com/thebitstick">twitter</a></p>
      <h2 id="source-code">الكود المصدري</h2>
      <p><a href="https://github.com/Upflask/Upflask">Github</a></p>
      <br>
{% endblock %}
