{% extends "regularnl.html" %}
{% block body %}
    <h1 id="limits">Voorwaarden</h1>
    <ul>
      <li><strong>Jij</strong> bent verantwoordelijk voor de bestanden die jij upload</li>
      <li>De maximale grootte is <strong>40 MB</strong></li>
      <li>Bestanden kunnen worden verwijderd als de eigenaar erom vraagt</li>
      <li>Als ik illegale inhoud vind (zoals CP, virusen etc.) zal het meteen worden verwijderd</li>
      <li>Alleen bepaalde bestand types zijn toegestaan</li>
      </ul>
      <h2 id="allowed-filetypes">Toegestane bestand types</h2>
      <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      </ul>
      <p>Er kunnen meer toegevoegd worden. Als er een bepaald type is dat toegevoegd moet worden, vertel het me.</p>
      <h2 id="contact">Contact</h2>
      <p>Je kunt me contacteren via mail met thebitstick[at]mail[dot]thebitstick.xyz</p>
      <p>For less formal requests you may mention me on <a href="http://twitter.com/thebitstick">twitter</a></p>
      <p>Voor minder formele verzoeken kun je me vermelden op <a href="http://twitter.com/thebitstick">twitter</a></p>
      <h2 id="source-code">Bron code</h2>
      <p><a href="https://github.com/Upflask/Upflask">Op Github</a></p>
      <br>
{% endblock %}
