{%  extends "regularjp.html" %}
{% block body %}
    <h1 id="limits">利用規約</h1>
    <ul>
      <li><strong>あなた</strong>がこのサイトにアップロードするファイルを担当しています。</li>
      <li>最大ファイルサイズは<strong>40メガバイト</strong>です。</li>
      <li>それは、コンテンツの所有者によって要求された場合ファイルが削除されることがあります。</li>
      <li>私は（そのような児童ポルノやコンピュータウイルスなど）違法なコンテンツを見つけた場合、私はすぐにそれを削除します。</li>
      <li>特定のファイルの種類のみをアップロードすることが許可されています</li>
      </ul>
      <h2 id="allowed-filetypes">許可されているファイルの種類には</h2>
      <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      </ul>
      <p>さらにいくつかのファイルタイプはいつかを添加してもよいです。ご希望の特定のタイプがあれば、私に連絡してください。</p>
      <h2 id="contact">Contact</h2>
      <p>あなたは私のメールアドレスに連絡することができます：thebitstick[at]mail[dot]thebitstick.xyz</p>
      <p>非正規の要求のために、あなたは私の<a href="https://twitter.com/thebitstick">Twitter</a>で求めることができます</p>
      <h2 id="source-code">ソースコード</h2>
      <p><a href="https://github.com/Upflask/Upflask">これは僕のGithub</a></p>
      <br>
{% endblock %}
