{% extends "shell.html" %}
{% block body %}
  <h1 class="title">
    Upflask
  </h1>
  <form action="file" id="form" name="fileForm" method="post" enctype="multipart/form-data" class="uploadForm">
    <div id="uploadButton" class="uploadButton">
      <p id="uploadText">
        Datei auswählen
      </p>
      <input id="file" type="file" name="file">
    </div>
    <input type="hidden" name="source" value="web">
  </form>
  <ul class="links">
    <li>
      <a href="/termsde">Bedingungen</a>
    </li>
    <li>
      <a href="/faqde">Fragen</a>
    </li>
  </ul>
  <script>
  document.getElementById("file").onchange = function() {
    document.getElementById("uploadText").innerHTML = "Lade hoch...";
    var button = document.getElementById("uploadButton");
    button.className = button.className + " uploading";
    document.getElementById("form").submit();
  };
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="/static/sizede.js"></script>
  <script type="text/javascript" src="/static/typede.js"></script>
{% endblock %}
